html, body {
	position: relative;
	width: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


a:hover {
	background-color: #666;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.container {
	background-color: #aaa;
	padding: 10px;
	max-width: 100%;
}

.grid {
	display: grid;
}

.grid-template-columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.stick {
	display: block;
	margin: 0px auto;
	background-color: brown;
	width: 15px;
	height: 20px;
}

.item {
	display :block;
	margin: 2px auto;
	height: 20px;
	background-color: green;
	text-align: center;
	color: white;
	font-size: 0.9rem;
}

.size1 {
	width: 100px;
}

.size2 {
	width: 130px;
}

.size3 {
	width: 160px;
}

.size4 {
	width: 190px;
}

.size5 {
	width: 220px;
}

.size6 {
	width: 250px;
}

.size7 {
	width: 280px;
}

.size8 {
	width: 310px;
}

.size9 {
	width: 340px;
}

.size10 {
	width: 370px;
}

